.body-proyecto{
    background-color: #f0f9f5;
    margin: 5px 10px 5px 20px;
    padding: 50px;
    border-radius: 1%;
}

h3{
    color: #174d4d;
}

h4{
    color: #174d4d;
    margin: 5px 10px 5px 15px;
    padding: 5px 10px 5px 15px;
}

#imagen-proyecto{
    border-radius: 40%;
}

a#contacto{
    color: #174d4d;
    font-weight: 647;   
    text-decoration: none;
}

a#contacto:hover{
    color: #bcddce;
}

#botonIcon{
    color: #174d4d;
}

#botonIcon:hover{
    color: #bcddce;
}

p{
    color: #174d4d;
    margin: 5px 10px 5px 0px;
    padding: 5px 10px 5px 0px;
}