<div class="body-proyecto">
    <h3>Experiencia <a href="#" id="botonIcon"><i class="fa-solid fa-pencil" width="12px"></i></a></h3>
    <h4>Título Proyecto</h4>

<div class="d-flex align-items-center">
    <div class="flex-grow-1 ms-3" id="parrafo-proyecto"> Descripción del Proyecto.
        This is some content from a media component. You can replace this with any content and adjust it as needed.
        <div>
            <a href="http://" target="_blank" rel="noopener noreferrer" id="contacto">Link Proyecto</a>
        </div>
      </div>
    <div class="flex-shrink-0" >
      <img src="https://picsum.photos/150/150" alt="..." id="imagen-proyecto">
    </div>
    
</div>

</div>

    

