<div class="card mat-card" id="acerca-card">
    <div>
        <h3>Historial académico</h3>
            
    </div>

    <h4>Historial académico <a href="#" id="botonIcono"><i class="fa-solid fa-pencil" width="12px"></i></a></h4>

    <div class="tarjeta">           
        

        <div class="logoEmpresa">
            <a href="https://picsum.photos/"><img src="https://picsum.photos/200/200" /></a>
        </div>
       
            <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste deleniti culpa aperiam fuga sint enim dolore quas quidem quis consectetur perspiciatis reprehenderit, mollitia doloribus corporis tempore esse quae nemo ratione.               
                    
            </p>
          
            
            
                <a href="#" id="botonIcono"><i class="fa-solid fa-pencil lapiz" width="12px"></i></a>
           
                <p id="fecha"><time>Septiembre 2021 Diciembre 2022</time></p>
    </div>
</div>
