

    <nav class="navbar barra">       

            <div id="bars">

                <a href="#" class="tituloMarca" id="redes"><img src="https://picsum.photos/250/250" class="imagenMarca" alt="" width="40" height="40"> Principal Plataforma - #CodoaCodo</a>

            </div>
                
                <div class="redesSociales">

                    <a href="https://www.linkedin.com/in/hernan-eduardo-quintero-quintero-9a589a145/" target="_blank" id="redes"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    
                    <a href="https://twitter.com/Hernanequintero" target="_blank" id="redes"><i class="fa-brands fa-twitter"></i> Twitter</a>
        
                    <a href="https://github.com/hernan88quintero" target="_blank" id="redes"><i class="fa-brands fa-github icono"></i> GitHub</a>

                    <div>
                        <button class="btn botonLogin" type="submit">Registro <i class="fa-solid fa-pencil" width="12px"></i> </button> 
                    </div>

                </div>           

      

    </nav>

    <div class="card mat-card" id="first-card">

        <div id="profile-background"> 
            
            <div class="btn-edit">             
                <img class="profile" src="https://picsum.photos/200/200">
                      
                <a href="#" id="botonIcono"><i class="fa-solid fa-pencil"></i></a>
            </div>           
        

            <div id="info-data">

                <div>
                    <h1>Hernan Quintero <a href="#" id="botonIcono"><i class="fa-solid fa-pencil" width="15px" height="15px"></i></a></h1>

                    <div id="info-company">
                        <p>Informático en XXXXXXXX</p>
                    </div>

                    <div id="info-contact">
                        <p>
                            <span>Buenos Aires (Argentina) </span>
                            <span><a href="#" id="contact">Información de contacto</a></span>
                        </p>
                        
                    </div>
                </div>

                
                    <ul id="info-details">
                        <li><a href="#">
                            <img src="https://picsum.photos/50/50">
                            <h6>XXXXXXXX C.A</h6>
                        </a></li>
                        <li><a href="#">
                            <img src="https://picsum.photos/50/50">
                            <h6>Universidad de Buenos Aires (UBA)</h6>
                        </a></li>
                    </ul>

                
            </div>
            
                

                <div id="info-actions">
                    <button class="btn botonLogin">Tengo interés en</button>
                    <button class="btn botonLogin">Añadir Sección</button>
                    <button class="btn botonLogin">Más</button>
                </div>

            

        </div>

</div>

