    <div class="card mat-card" id="first-card">

        <div id="profile-background"> 
            
            <div class="btn-edit">             
                <img class="profile" src="https://picsum.photos/200/200">
                      
                <a href="#" id="botonIcono"><i class="fa-solid fa-pencil"></i></a>
            </div>           
        

            <div id="info-data">

                <div>
                    <h1>Hernan Quintero <a href="#" id="botonIcono"><i class="fa-solid fa-pencil" width="15px" height="15px"></i></a></h1>

                    <div id="info-company">
                        <p>Desarrollador Web <span id="rubro">Front-End</span></p>
                    </div>

                    <div id="info-contact">
                        <p>
                            <span>Buenos Aires (Argentina) </span>
                            <span><a href="#" id="contact">Información de contacto</a></span>
                        </p>
                        
                    </div>
                </div>

                
                    <ul id="info-details">
                        <li><a href="#">
                            <img src="https://picsum.photos/50/50">
                            <h6>XXXXXXXX C.A</h6>
                        </a></li>
                        <li><a href="#">
                            <img src="https://picsum.photos/50/50">
                            <h6>Universidad de Buenos Aires (UBA)</h6>
                        </a></li>
                    </ul>

                
            </div>
            
                

                <div id="info-actions">
                    <button class="btn botonLogin">Tengo interés en</button>
                    <button class="btn botonLogin">Añadir Sección</button>
                    <button class="btn botonLogin">Más</button>
                </div>

            

        </div>

</div>


<div class="" id="acerca">

    <div>
        <app-acerca-de></app-acerca-de>
    </div>
    <div>
        <app-acerca-de></app-acerca-de>
    </div>
    <div>
        <app-acerca-de></app-acerca-de>
    </div>

</div>




<h2 class="skill-tittle">Habilidades <a href="#" id="botonIcono"><i class="fa-solid fa-pencil" width="15px" height="15px"></i></a></h2>
<div id="progress">
    <div>
        <app-progress></app-progress>
    </div>
    <div>
        <app-progress></app-progress>
    </div>
    <div>
        <app-progress></app-progress>
    </div>
    <div>
        <app-progress></app-progress>
    </div>
</div>



<div>
    <div>
        <app-proyecto></app-proyecto>
    </div>
</div>
