<div class="clase">

        <div class="center">            
            <form action="" method="POST">
                <h1>Acceso</h1>
                <div class="campo-texto">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Usuario</label>
                </div>
                <div class="campo-texto">
                    <input type="pasword" name="password" required>
                    <span></span>
                    <label>Contraseña</label>
                </div>
                <div class="clave">¿Olvidó su contraseña?</div>
                <input type="Submit" name="submit" value="Login">
                <div class="inscripcion-link">
                    ¿Aún no es miembro? <a href="">Click aquí</a>
                </div>
            </form>

    </div>


</div>

