<div class="clase">

    <div class="container">
        <div class="center">
            <h1>Acceso</h1>
            <form action="" method="POST">
                <div class="campo-texto">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Usuario</label>
                </div>
                <div class="campo-texto">
                    <input type="pasword">
                    <span></span>
                    <label for="">Contraseña</label>
                </div>
                <div class="clave">¿Olvidó su contraseña?</div>
                <input type="Submit" name="submit" value="Login">
                <div class="inscripcion-link">
                    ¿Aún no es miembro? <a href="">Inscribirme</a>
                </div>
            </form>
        </div>
    </div>


</div>

