<nav class="navbar barra sticky-top">       

        <div id="bars">

            <a routerLink="/encabezado" class="tituloMarca"><img src="https://picsum.photos/250/250" class="imagenMarca" alt="" width="40" height="40"> Principal Plataforma - #CodoaCodo</a>

        </div>
            
            <div class="redesSociales">

                <a href="https://www.linkedin.com/in/hernan-eduardo-quintero-quintero-9a589a145/" target="_blank" id="redes"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>

                <a href="https://twitter.com/Hernanequintero" target="_blank" id="redes"><i class="fa-brands fa-twitter"></i> Twitter</a>
    
                <a href="https://github.com/hernan88quintero" target="_blank" id="redes"><i class="fa-brands fa-github icono"></i> GitHub</a>

                <div>
                    <button class="btn botonLogin" routerLink="/login">Registro <i class="fa-solid fa-pencil" width="12px"></i> </button> 
                </div>

            </div>           

</nav>